
{%  extends 'portfolio/base.html' %}
{% load static %}]

{% block content %}
<head>
<link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}" type="text/css">
    </head>
    <h1>Hello,it's my personal portfolio of web developer</h1>
<br>
<img src="{% static 'portfolio/123.jpg' %}" class="imgmain">
<br>
<div>
{% for project in projects %}
<block>
<h2>{{ project.title }}</h2>
<img src="{{ project.image.url}}" class="imgproject">
<p>{{ project.description}}</p>

{%  if project.url %}
    <br><a href="{{ project.url }}">Link</a>
{% endif %}
    </block>


{% endfor %}

{% endblock %}
    </div>

  </body>
</html>

