{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1>Hi,it's my personal portfolio</h1>
<img src="{% static 'portfolio/123.jpg' %}">
<a href="{% static 'portfolio/Resume Andrieiev Andrii.pdf' %}">Resume</a>
{% for project in projects %}

<h2>{{ project.title }}</h2>
<p>{{ project.description}}</p>
<img src="{{ project.image.url}}">
{%  if project.url %}
<br><a href="{{ project.url }}">Link</a>
{% endif %}


{% endfor %}

</body>
</html>