h1 {
    position: relative;
    left: 17.5%;
}

.imgmain {
    position: relative;
    left: 35%;
    height: 400px;
    width: 400px;
}
block {
    overflow:hidden;
    text-overflow: ellipsis;
    overflow: hidden;
}

div {
    display: flex;
    justify-content: space-around;
}
.imgproject {
    position: relative;
    height: 200px;
    width: 300px;
}
body {
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

}
